@font-face {
	src: url(../fonts/jf-openhuninn-1.1.ttf);
	font-family: font1;
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

.boxLeft {
	width: 16vw;
	float: left;
	margin-left: 10vw;
}

.boxRight {
	width: 60vw;
	float: right;
	margin-right: 12vw;
	padding: 0.5vh 1.2vw 2.5vh 1.2vw;
	background-color: #0A324B;
	border: #0A324B solid 1px;
	border-radius: 20px;
}

.boxConfirm {
	width: 60vw;
	float: right;
	margin-right: 12vw;
}

.tableLeft{
	width: 18vw;
	text-align: center;
	vertical-align: middle;	
}

.tableRight{
	width: 57.5vw;
}

.tdRight{
	text-align: left;
	vertical-align: middle;
	height: 5.8vh;
	color: lightgray;
}

.userId {
	font-size: 2vh;
	color: gray;
}

.userImg {
	margin-top: 1vh;
	margin-bottom: 1vh;
	height: 8vh;
	border: #F5AF4B solid 3px;
	border-radius: 50%;
}

.description {
	text-align: left;
	font-size: 2vh;
	color: lightgray;
}

.teamSelect {
	height: 6vh;
	width: 12vw;
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding: 2%;
	border: #F5AF4B 3px solid;
	border-radius: 10px;
	font-size: 2vh;
	line-height: 1.8em;
	color: #F5AF4B;
}

#inputTitle {
	height: 4.5vh;
	width: 57.5vw;
	padding: 5px;
	font-size: 1vw;
	line-height: 2em;
	color: gray;
}

.ck-editor__editable_inline {
    min-height: 46vh;
  	height: 46vh;
  	width: 57.5vw;
  	color: gray;
  	line-height: 1em;
}

.postBtn {
	height: 5vh;
	width: 3vw;
	font-size: 1vw;
	background-color: #F5AF4B;
	color: rgb(250, 245, 240);
	border: #F5AF4B 3px solid;
	border-radius: 10%;
	cursor: pointer;
}

.postBtn a:hover, a:link, a:visited{
	color: rgb(250, 245, 240);
	text-decoration: none;
}

.imgPast{
	width: 10vw;	
}