@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&family=Roboto+Condensed:wght@700&display=swap");
#test002 {
  /* slider section */
}
#test002 .slider_section {
  margin: 0 4% 2% 4%;
  padding: 2% 4%;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  text-align: justify;
  justify-content: flex-start;
  background-color: #0A324B;
  border-radius: 50px;
}
#test002 .slider_section .tit {
  color: rgba(255, 255, 255, 0.8941176471);
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
#test002 .slider_section .tit span {
  padding: 0px;
  margin-left: 2%;
  font-size: 2rem;
  display: flex;
  font-weight: 500;
  text-align: center;
  align-items: center;
  letter-spacing: 2px;
  justify-content: center;
  margin-bottom: 12px;
}
#test002 .slider_section .tit .filters_menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  border: none;
}
#test002 .slider_section .tit .filters_menu li {
  padding: 7px 20px;
  margin-right: 1%;
  cursor: pointer;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.8941176471);
  font-weight: 350;
  background-color: #F5AF4B;
  font-size: 1rem;
  margin-bottom: 8px;
}
#test002 .slider_section .tit .filters_menu li.active {
  background-color: #F5AF4B;
  color: #0A324B;
}
#test002 .slider_section .tit .filters_menu li:hover {
  color: #0A324B;
  text-decoration: none;
  transition: all 0.3s;
}
#test002 .slider_section .row {
  align-items: center;
  align-items: flex-start;
  margin-top: 1%;
}
#test002 .slider_section .row #customCarousel1 {
  width: 100%;
  position: unset;
}
#test002 .slider_section .row .detail-box {
  color: rgba(255, 255, 255, 0.8941176471);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  padding: 1.4%;
}
#test002 .slider_section .row .detail-box h3 {
  font-size: 2.2rem;
  font-weight: bold;
}
#test002 .slider_section .row .detail-box p {
  font-size: 18px;
  letter-spacing: 2px;
}
#test002 .slider_section .row .detail-box .btn1:hover {
  color: rgba(255, 255, 255, 0.8941176471);
  text-decoration: none;
}
#test002 .slider_section .row .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #F5AF4B;
  color: #0A324B;
  border-radius: 45px;
  transition: all 0.3s;
  border: none;
}
#test002 .slider_section .row .detail-box a:hover {
  background-color: #e78d0d;
}
#test002 .slider_section .row .slp {
  position: relative;
  overflow: auto;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}
#test002 .slider_section .carousel-indicators {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 38%;
}
#test002 .slider_section .carousel-indicators li {
  background-color: #F5AF4B;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}
#test002 .slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #F5AF4B;
}/*# sourceMappingURL=preNews_style.css.map */